<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>文件上传</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
	</head>
	<body>
	    <div class="container">
	        <h3>文件上传</h3>
	        <form action="../demo-21.php" method="post">
	            <div class="form-group">
	                <label for="filesname">文件名: </label>
	                <input type="file" name="filesname"/>
	            </div>
	        	<input type="submit" value="提交" class="btn btn-default"/>
	        </form>
	    </div>
	</body>
</html>
